[user]
	name = Uladzislau Volchyk
	email = uladzislau.volchyk@gmail.com
[core]
	editor = micro
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[include]
	path = ~/.github_token
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%ae>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true