# common
alias la='ls -la'
alias dot='cd ~/.dotfiles'


# git
alias gs='git status'
alias gl='git log --pretty=oneline --graph'
alias gb='git branch'
alias ga='git add'
alias gch='git checkout'
alias gre='git reset'
alias gps='git push'
alias gpl='git pull'
alias gcm='git commit -m'
